# PANDAS

<i>'pandas' is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.</i>

In [1]:
# Install pandas
!pip install pandas

print("pandas intalled!")

Requirement already satisfied: pandas in d:\utilities\anaconda\lib\site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in d:\utilities\anaconda\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in d:\utilities\anaconda\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\utilities\anaconda\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in d:\utilities\anaconda\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
pandas intalled!

In [2]:
# To extract data from Excel spreadsheets
!pip install xlrd

print("xlrd installed!")

Requirement already satisfied: xlrd in d:\utilities\anaconda\lib\site-packages (1.2.0)
xlrd installed!

In [3]:
# Import required library
import pandas as pd

print ('pandas imported!')

pandas imported!

<b>Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. The path of the <b>.csv</b>, is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe. </b>

In [4]:
# Read data from CSV file
df = pd.read_csv('WineQualityRed.csv')

<b>We can use the method <code>head()</code> to examine the first five rows of a dataframe: </b>

In [5]:
# Print first five rows of the dataframe
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Viewing Data and Accessing Data

<b>You can get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket: </b>

In [6]:
# Get the column as a series
x = df['quality']
x

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

<b>You can also get a column as a dataframe.</b>

In [7]:
# Get the column as a dataframe
x = type(df[['quality']])
x

pandas.core.frame.DataFrame

<b>You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:</b>

In [8]:
# Access to multiple columns
y = df[['pH','alcohol','quality']]
y

        pH  alcohol  quality
0     3.51      9.4        5
1     3.20      9.8        5
2     3.26      9.8        5
3     3.16      9.8        6
4     3.51      9.4        5
...    ...      ...      ...
1594  3.45     10.5        5
1595  3.52     11.2        6
1596  3.42     11.0        6
1597  3.57     10.2        5
1598  3.39     11.0        6

[1599 rows x 3 columns]

<b>One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:</b>

In [9]:
# Access the value on the first row and the first column
df.iloc[0, 0]  # df.iloc[row, column]

7.4

<b>You can access the column using the name as well, the following is the same as above: </b>

In [10]:
# Access the column using the name
df.loc[0, 'fixed acidity']

7.4

<b>You can perform slicing using both the index and the name of the column:</b>

In [11]:
# Slicing the dataframe
df.iloc[0:2, 0:3]

   fixed acidity  volatile acidity  citric acid
0            7.4              0.70          0.0
1            7.8              0.88          0.0

In [12]:
# Slicing the dataframe using name
df.loc[0:2, 'fixed acidity':'residual sugar']

   fixed acidity  volatile acidity  citric acid  residual sugar
0            7.4              0.70         0.00             1.9
1            7.8              0.88         0.00             2.6
2            7.8              0.76         0.04             2.3